<%= form_for(@simulation) do |f| %>
  <% if @simulation.errors.any? %>
  <div class="row">
    <div id="error_explanation" class="col-sm-12">
      <h2><%= pluralize(@simulation.errors.count, "error") %> prohibited this simulation from being saved:</h2>
      <ul>
      <% @simulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="form-fields-module module-top">
      <h2>Total Warheads</h2>
      <div class="form-group col-md-6">
        <%= f.label :blueInventory, "Defender force", :class => "control-label" %>
        <%= f.number_field :blueInventory, :class => "form-control", :required => true %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :redInventory, "Attacker force", :class => "control-label" %>
        <%= f.number_field :redInventory, :class => "form-control", :required => true %>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h1>Defender force Arsenal Strategy</h1>
    <div class="form-fields-module">
    
    <h2>Defender force ICBMs</h2>
    <div class="form-group">
      <%= f.label :icbmMax, "Number of Defender ICBMs", :class => "control-label" %>
      <%= f.number_field :icbmMax, :class => "form-control with-tooltip", :required => true %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#icbmMax">?</button>
    </div>

    <div class="form-group mirv-hide">
      <%= f.label :icbmMirv, "MIRV ratio on ICBMs", :class => "control-label" %>
      <%= f.select:icbmMirv, Simulation::MIRVRATIOS, { :include_blank => 'Select a MIRV ratio.' }, :class => "form-control with-tooltip", :required => true, :selected => params[:icbmMirv] %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#icbmMirv">?</button>
    </div>

    <div class="form-group">
      <%= f.check_box :icbmBlueLaunch %>
      <%= f.label :icbmBlueLaunch, "Defender launch under attack", :class => "control-label" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#icbmBlueLaunch">?</button>
    </div>

    <div class="form-group hide icbm-hide">
      <%= f.label :icbmProb, "Probability of ICBM launch prior to attacker first strike", :class => "control-label" %>
      <%= f.text_field :icbmProb, :class => "form-control with-tooltip", :placeholder => "0.0 to 1.0" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#icbmProb">?</button>
    </div>
   
    <div class="form-group hide icbm-hide">
      <%= f.label :icbmBluePk, "Defender P<sub>k</sub> against attacker".html_safe, :class => "control-label" %>
      <%= f.text_field :icbmBluePk, :class => "form-control with-tooltip", :placeholder => "0.0 to 1.0" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#icbmBluePk">?</button>
    </div>
  </div>
  <div class="form-fields-module">
    <h2>Defender force bombers</h2>
    <div class="form-group">
      <%= f.label :bombsNumber, "Number of bombers", :class => "control-label" %>
      <%= f.number_field :bombsNumber, :class => "form-control with-tooltip", :required => true %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#bombsNumber">?</button>
    </div>
    <div class="form-group">
      <%= f.check_box :bombsSurvive %>
      <%= f.label :bombsSurvive, "Generate and survive the bombers", :class => "control-label" %>
    </div>
    <div class="form-group hide bombers-hide">
      <%= f.label :bombsPostStrike, "Warheads loaded on bombers", :class => "control-label" %>
      <%= f.number_field :bombsPostStrike, :class => "form-control with-tooltip" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#bombsPostStrike">?</button>
    </div>
    <div class="form-group hide bombers-hide">
      <%= f.label :bombsPercentage, "Percentage of Defender bombers that are generated and survive attack", :class => "control-label" %>
      <%= f.text_field :bombsPercentage, :class => "form-control", :placeholder => "0.1 to 1.0" %>
    </div>
  </div>
  <div class="form-fields-module">
    <h2>Defender force SSBNs</h2>
    <div class="form-group">
      <%= f.label :subsOperational, "Number of operational SSBNs", :class => "control-label" %>
      <%= f.number_field :subsOperational, :class => "form-control with-tooltip", :required => true, :placeholder => "0 to 14" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#subsOperational">?</button>
    </div>
    <div class="form-group subs-hide">
      <%= f.label :subsSeaRate, "\"At sea rate\" for SSBNs", :class => "control-label" %>
      <%= f.text_field :subsSeaRate, :class => "form-control with-tooltip", :required => true, :placeholder => "0 to 1" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#subsSeaRate">?</button>
    </div>
    <div class="form-group subs-hide">
      <%= f.label :subsTubes, "Number of tubes per SSBN", :class => "control-label" %>
      <%= f.number_field :subsTubes, :class => "form-control with-tooltip", :required => true, :placeholder => "0 to 26" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#subsTubes">?</button>
    </div>
  </div>
  
  </div><!--/.col-md-6-->
  <div class="col-md-6">
    
  <div class="form-fields-module">
    <h2>Attacker force <em>Targeting Strategy</em></h2>
    <div class="form-group">
      <%= f.label :redRatio, "Attacker targeting ratio on Defender ICBMs", :class => "control-label" %>
      <%= f.select:redRatio, Simulation::TARGETINGRATIOS, { :include_blank => 'Select a targeting ratio.' }, :class => "form-control with-tooltip", :required => true, :selected => params[:redRatio] %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#redRatio">?</button>
    </div>
    <div class="form-group">
      <%= f.check_box :redTarget %>
      <%= f.label :redTarget, "Attacker target defender LCCs", :class => "control-label" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#redTarget">?</button>
    </div>
    <div class="form-group">
      <%= f.label :redPk, "Attacker P<sub>k</sub> against defender ICBMs".html_safe, :class => "control-label" %>
      <%= f.text_field :redPk, :class => "form-control with-tooltip", :required => true, :placeholder => "0 to 1 (multiples of .05)" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#redPk">?</button>
    </div>
    <div class="form-group">
      <%= f.label :redBases, "Attacker weapons targeted on bases and critical assets", :class => "control-label" %>
      <%= f.number_field :redBases, :class => "form-control with-tooltip", :required => true, :placeholder => "Minimum of 10" %>
      <button type="button" class="has-tooltip" data-toggle="modal" data-toggle="modal" data-target="#redBlueIcbms">?</button>
    </div>
  </div>
  <!--<div class="form-fields-module">
    <h2>Surviving weapons</h2>
    <div class="form-group">
      <%#= f.label :redSurviving, "Attacker", :class => "control-label" %>
      <input type="text" class="form-control derived-value" disabled>
    </div>
    <div class="form-group">
      <%#= f.label :blueSurviving, "Defender", :class => "control-label" %>
      <input type="text" class="form-control derived-value" disabled>
    </div>
    <div class="form-group">
      <%#= f.label :deltaSurviving, "Delta", :class => "control-label" %>
      <input type="text" class="form-control derived-value" disabled>
    </div>
    <div class="form-group">
      <%#= f.label :ratioSurviving, "Ratio", :class => "control-label" %>
      <input type="text" class="form-control derived-value" disabled>
    </div>
  </div>-->
  <div class="actions">
    <%= f.submit "Execute", :class => "btn btn-primary" %>
  </div>
  </div><!--/.col-lg-6-->
  
</div>
<% end %>
<%= javascript_include_tag("simulations_validation") %>
