<%= form_for(@simulation) do |f| %>
  <% if @simulation.errors.any? %>
  <div class="row">
    <div id="error_explanation" class="col-sm-12">
      <h2><%= pluralize(@simulation.errors.count, "error") %> prohibited this simulation from being saved:</h2>
      <ul>
      <% @simulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <h2>Pre-Exchange Inventories</h2>
  <div class="row">
  <div class="form-group col-md-6">
    <%= f.label :blueInventory, "Blue force", :class => "control-label" %>
    <%= f.number_field :blueInventory, :class => "form-control", :required => true %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :redInventory, "Red force", :class => "control-label" %>
    <%= f.number_field :redInventory, :class => "form-control", :required => true %>
  </div>
  </div>
  <div class="row">
  <div class="col-md-6">
    <h2>Blue Force ICBMS</h2>
    <div class="form-group">
      <%= f.label :icbmMax, "Maximum Number of ICBMs", :class => "control-label" %>
      <%= f.number_field :icbmMax, :class => "form-control with-tooltip", :required => true, :placeholder => "0 to 450" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Select the total number of ICBMs on alert. Current value is 450. Value will be 400 under New START. These are missiles with warheads on ready status and does not include those in maintenance status. Under New START, this is the number of ICBMs counted as Strategic Deliveray Vehicles.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :icbmMirv, "MIRV ratio on ICBMs", :class => "control-label" %>
      <%= f.text_field :icbmMirv, :class => "form-control with-tooltip", :required => true %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Select the MIRV Ratio for ICBMs. The value will be 1 under New START. If not standard, enter an average ICBM MIRV Ratio obtained from dividing total ICBM Warheads by the number of ICBMs (Warheads / ICBMs).">?</span>
    </div>
    <div class="form-group">
      <%= f.label :icbmProb, "Probability of ICBM launch prior to red first strike", :class => "control-label" %>
      <%= f.text_field :icbmProb, :class => "form-control with-tooltip", :required => true %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="This is the estimated percentage of alert ICBMs that will actually launch when the keys are turned.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :icbmAvail, "ICBMs available prior to red first strike", :class => "control-label" %>
      <%= f.number_field :icbmAvail, :class => "form-control with-tooltip derived-value" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="This is the Maximum Number of ICBMs multiplied by the Probability of ICBM Launch Prior to Red 1st Strike multiplied by the MIRV Ratio of ICBMs with the product rounded to the nearest whole number. Round (ICBMs * Probibility of Launch * MIRV Ratio)">?</span>
    </div>
    <div class="form-group">
      <%= f.label :icbmBlueLaunch, "Blue launch under attack", :class => "control-label" %>
      <%= f.check_box :icbmBlueLaunch, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :icbmBluePk, "Blue pk against red targets", :class => "control-label" %>
      <%= f.text_field :icbmBluePk, :class => "form-control" %>
    </div>
    <h2>Blue force subs</h2>
    <div class="form-group">
      <%= f.label :subsOperational, "Number of operational blue subs", :class => "control-label" %>
      <%= f.number_field :subsOperational, :class => "form-control with-tooltip", :required => true, :placeholder => "1 to 14" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      Select the number of Blue Ballistic Submarines not in dry-dock. This number represents those subs in home port and at sea. The current U.S. inventory of Ohio class SSBNs is 14, of which 2 are normaly always in dry-dock/refit. Therefore the default value for this variable is 12.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsSeaRate, "\"At sea rate\" for blue subs", :class => "control-label" %>
      <%= f.text_field :subsSeaRate, :class => "form-control with-tooltip", :required => true, :placeholder => "50% to 100%" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      This is the average percentage of Operational Blue Subs that are at sea at any one time. The navy claims an At Sea Rate of Blue Subs of 66%, though the actual historical average is closer to 50%.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsAtSea, "Number of subs at sea", :class => "control-label" %>
      <%= f.text_field :subsAtSea, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      This is the Number of Operational Blue Subs multiplied by the At Sea Rate.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsRoundUp, "Round up to nearest whole sub", :class => "control-label" %>
      <%= f.check_box :subsRoundUp, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subsWeaps, "Weapons at sea", :class => "control-label" %>
      <%= f.number_field :subsWeaps, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      Represents the number of warheads that are survived at sea during the exchange. The calculation is SLBM MIRV Ratio times Number of Tubes Per Sub times Number of Subs at Sea.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsPlusIcbms, "Plus ICBMs", :class => "control-label" %>
      <%= f.number_field :subsPlusIcbms, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      This is Weaps at Sea plus ICBMs Available Prior to Red 1st Strike.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsPlusBombs, "Plus bombs", :class => "control-label" %>
      <%= f.number_field :subsPlusBombs, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      This is Plus ICBMs plus Number of Bombers or bomber weapons depending on whether Count Weapons Versus Bomber Post-Strike? is selected.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsTubes, "Number of tubes per sub", :class => "control-label" %>
      <%= f.number_field :subsTubes, :class => "form-control with-tooltip", :required => true, :placeholder => "12 to 24" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      Select the number of launch tubes available on a single ballistic sub. Current value is 24. Value may change to 20 under New Start.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsMirv, "SLBM MIRV ratio", :class => "control-label" %>
      <%= f.text_field :subsMirv, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="
      The Number of Weapons Assigned to the Navy divided by the product of Number of Operational Blue Subs and Number of Tubes Per Sub. The number will highlight red if the max D-5 MIRV capability of 8 is exceeded. (Navy Weapons / (Operational Subs * Tubes Per Sub))">?</span>
    </div>
    <div class="form-group">
      <%= f.label :subsNavy, "Number of weapons assigned to navy", :class => "control-label" %>
      <%= f.number_field :subsNavy, :class => "form-control derived-value with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Value is derived by subtracting total number of weapons assinged to ICBMs and Bombers from the Max Teaty Weapons Input box at the top of the page. New START value of 1550 is used as a default.">?</span>
    </div>
  </div><!--/.col-md-6-->
  <div class="col-md-6">
    <h2>Blue Force Bombers</h2>
    <div class="form-group">
      <%= f.label :bombsNumber, "Number of bombers", :class => "control-label" %>
      <%= f.number_field :bombsNumber, :class => "form-control with-tooltip", :required => true %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="The total number of Blue nuclear capable bombers (DCA B-52s and B-2s).">?</span>
    </div>
    <div class="form-group">
      <%= f.label :bombsSurvive, "Bombers generated and survive", :class => "control-label" %>
      <%= f.check_box :bombsSurvive, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :bombsPostStrike, "Weapons versus bombers post-strike", :class => "control-label" %>
      <%= f.number_field :bombsPostStrike, :class => "form-control with-tooltip" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="This option is only enabled if Bombers Generated and Survive? is checked. Checking Count Weapons Versus Bombers Post-Strike enables the weapons text box (directly to the right) and forces the program to add the selected number of weapons -- not the selected number of bombers -- to the Blue Post-Strike weapons inventory. If left unchecked, the program will only add the selected number of bombers to the Blue Post-Strike inventory. New START math considers bombers as Strategic Delivery Vehicles and counts each bomber as a single weapon. Checking this box allows the user to see an accurate representation of the actual Blue Post-Strike weapons inventory versus a number based on treaty math.">?</span>
    </div>
    <h2>Red Force</h2>
    <div class="form-group">
      <%= f.label :redRatio, "Red targeting ratio on blue ICBMs", :class => "control-label" %>
      <%= f.number_field :redRatio, :class => "form-control with-tooltip", :required => true, :placeholder => "0, 1, or 2" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Red's targeting ratio against Blue ICBMs. Select 0:1, 1:1 or 2:1. This selection determines how many red weapons will be launched against Blue ICBMs. Does not include Blue LCCs which are targeted on a standard 1:1 ratio. 0:1 means no Red weapons are targeted against Blue ICBMs. 1:1 means 1 Red weapon will be targeted against each Blue ICBM. 2:1 means Red will double-tap each Blue ICBM">?</span>
    </div>
    <div class="form-group">
      <%= f.label :redTarget, "Red target blue LCCs", :class => "control-label" %>
      <%= f.check_box :redTarget, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :redPk, "Red pk against blue ICBMs", :class => "control-label" %>
      <%= f.text_field :redPk, :class => "form-control", :required => true, :placeholder => "0 to 100% (multiples of 5)" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Targeting effectiveness for Red ICBMs against Blue ICBMs. If Red Targeting Ratio on Blue ICBMs is set to either 1:1 or 2:1, the program will allocate either 1 or 2 Red ICBMs against each Blue ICBM. With a Red Pk Against Blue ICBMs set to 50%, the total number of Blue ICBMs will be decremented by half. With Red Targeting Ratio on Blue ICBMs set to 0, the Red Pk Against Blue ICBMs is irrelevant since no Red ICBMs will be launched against Blue ICBMs.">?</span>
    </div>
    <div class="form-group">
      <%= f.label :redBases, "Red weapons targeted on bases and crit assets", :class => "control-label" %>
      <%= f.number_field :redBases, :class => "form-control", :required => true, :placeholder => "0 to 100 (multiples of 5)" %>
    </div>
    <div class="form-group">
      <%= f.label :redBlueIcbms, "Red weapons targeted on blue ICBMs", :class => "control-label" %>
      <%= f.number_field :redBlueIcbms, :class => "form-control derived-value" %>
      <span type="button" class="has-tooltip" data-toggle="tooltip" data-placement="left" title="Total number of Red weapons assigned to Blue ICBMs and is caculated by multiplying the total number of Blue ICBMs by the Ratio of Weapons Targeted on ICBMs. If Red electes to target Blue LCCs, the product is added to the total number of Blue ICBMs divided by 10. Formula if Blue LCCs are not targeted: (Total Blue ICBMs * Red ICBM Target Ratio).
      Formula if Blue LCCs are targeted:
      (Total Blue ICBMs * Red ICBM Target Ratio) + (Total Blue ICBMs / 10)">?</span>
    </div>
    <div class="form-group">
      <%= f.label :redFirstStrike, "Red weapons assigned first strike", :class => "control-label" %>
      <%= f.number_field :redFirstStrike, :class => "form-control derived-value" %>
    </div>
    <h2>Surviving weapons</h2>
    <div class="field">
      <%= f.label :redSurviving, "Red", :class => "control-label" %>
      <%= f.number_field :redSurviving, :class => "form-control derived-value" %>
    </div>
    <div class="field">
      <%= f.label :blueSurviving, "Blue", :class => "control-label" %>
      <%= f.number_field :blueSurviving, :class => "form-control derived-value" %>
    </div>
    <div class="field">
      <%= f.label :deltaSurviving, "Delta", :class => "control-label" %>
      <%= f.number_field :deltaSurviving, :class => "form-control derived-value" %>
    </div>
    <div class="field">
      <%= f.label :ratioSurviving, "Ratio", :class => "control-label" %>
      <%= f.text_field :ratioSurviving, :class=> "form-control derived-value" %>
    </div>
    <div class="actions">
      <%= f.submit "Calculate" %>
    </div>
  </div><!--/.col-lg-6-->
</div>
<% end %>
