<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>1st Strike Advantage Calculator (Add Comments)</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <%= form_for(@simulation) do |f| %>
  <% if @simulation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simulation.errors.count, "error") %> prohibited this initial_survey from being saved:</h2>

      <ul>
      <% @simulation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :recommendComments, "Why do you recommend this arsenal strategy?", :class => "control-label user-label" %>
      <%= f.text_area :recommendComments, :class => "form-control", :required => true, :rows => 6 %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :unexpectedComments, "Did your analysis uncover anything unexpected or surprising?", :class => "control-label user-label" %>
      <%= f.text_area :unexpectedComments, :class => "form-control", :required => true, :rows => 6 %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :vulnerableComments, "Did you find any combinations an adversary might consider especially vulnerable?", :class => "control-label user-label" %>
      <%= f.text_area :vulnerableComments, :class => "form-control", :required => true, :rows => 6 %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :comments, "Do you have any additional comments?", :class => "control-label user-label" %>
      <%= f.text_area :comments, :class => "form-control", :required => true, :rows => 10 %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.submit "Save and proceed to next analysis", :class => "btn btn-primary" %>
      <%= f.submit "Save and finish with force structure analysis", :class => "btn btn-primary done" %>
    </div>
    <% end %>
  </div>
</div>
<script>
  function createCookie(name,value,days) {
      if (days) {
          var date = new Date();
          date.setTime(date.getTime()+(days*24*60*60*1000));
          var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
  }
  $('.done').click(function() {
    createCookie('doneForceStructure','true');
  })
</script>