<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>1st Strike Advantage Calculator (Simulation Results)</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="form-fields-module module-top">
      <h2>Your <em>Arsenal Strategy</em> following attack</h2>
      <div class="form-group col-md-6 col-lg-3">
        Defender warheads remaining<br>
        <strong><%= @simulation.blueSurviving %></strong>
      </div>
      <div class="form-group col-md-6 col-lg-3">
        Attacker warheads remaining<br>
        <strong><%= @simulation.redSurviving %></strong>
      </div>
      <div class="form-group col-md-6 col-lg-3">
        Numerical Defender advantage<br>
        <strong><%= @simulation.deltaSurviving %></strong>
      </div>
      <div class="form-group col-md-6 col-lg-3">
        Ratio Defender:Attacker advantage<br>
        <strong>1:<% if @simulation.ratioSurviving == Float::INFINITY %>0<% else %><%= @simulation.ratioSurviving %><% end %></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Attacker warheads used in First Strike</h2>
        <div class="form-group">
          Attacker weapons targeted on Defender ICBMs<br>
          <strong><%= @simulation.redBlueIcbms %></strong>
        </div>
        <div class="form-group">
          Total Attacker weapons assigned first strike<br>
          <strong><%= @simulation.redFirstStrike %></strong>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Defender SSBN values</h2>
        <div class="form-group">
          Number of weapons assigned to navy<br>
          <strong><%= @simulation.subsNavy %></strong>
        </div>
        <div class="form-group">
          Number of subs at sea<br>
          <strong><%= @simulation.subsAtSea %></strong>
        </div>
        <div class="form-group">
          Warheads at sea<br>
          <strong><%= @simulation.subsWeaps %></strong>
        </div>
        <div class="form-group">
          SLBM MIRV ratio<br>
          <strong><%= @simulation.subsMirv %></strong>
        </div>
        
      </div>
      <br><br>
    </div>
    <!--<div class="form-fields-module module-top">
      <div class="form-group">
          Defender bombers<br>
          <strong><%#= @simulation.subsPlusBombs %></strong>
        </div>
      </div>-->

    <div class="form-fields-module module-top">
      <h2>Total Warheads</h2>
      <div class="form-group col-md-6">
        Defender force<br>
        <strong><%= @simulation.blueInventory %></strong>
      </div>
      <div class="form-group col-md-6">
        Attacker force<br>
        <strong><%= @simulation.redInventory %></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Defender force ICBMs</h2>
        <div class="form-group">
          Number of ICBMs<br>
          <strong><%= @simulation.icbmMax %></strong>
        </div>
        <div class="form-group">
          MIRV ratio on ICBMs<br>
          <strong><%= @simulation.icbmMirv %></strong>
        </div>
        <div class="form-group">
          Defender launch under attack<br>
          <strong>
            <% if @simulation.icbmBlueLaunch %>yes<% end %>
            <% if !@simulation.icbmBlueLaunch %>no<% end %>
          </strong>
        </div>
        <div class="form-group">
          Probability of ICBM launch prior to Attacker first strike<br>
          <strong><%= @simulation.icbmProb %></strong>
        </div>
        <div class="form-group">
          Defender P<sub>k</sub> against Attacker<br>
          <strong><%= @simulation.icbmBluePk %></strong>
        </div>
      </div>
      <div class="form-fields-module">
        <h2>Defender force subs</h2>
        <div class="form-group">
          Number of operational Defender subs<br>
          <strong><%= @simulation.subsOperational %></strong>
        </div>
        <div class="form-group">
          "At sea rate" for Defender subs<br>
          <strong><%= @simulation.subsSeaRate %></strong>
        </div>
        <div class="form-group">
          Number of tubes per sub<br>
          <strong><%= @simulation.subsTubes %></strong>
        </div>
      </div>
      <div class="form-fields-module">
        <h2>Defender Force Bombers</h2>
        <div class="form-group">
          Number of bombers<br>
          <strong><%= @simulation.bombsNumber %></strong>
        </div>
        <div class="form-group">
          Bombers generated and survive<br>
          <strong>
            <% if @simulation.bombsSurvive %>yes<% end %>
            <% if !@simulation.bombsSurvive %>no<% end %>
          </strong>
        </div>
        <div class="form-group">
          Additional weapons loaded on bombers<br>
          <strong><%= @simulation.bombsPostStrike %></strong>
        </div>
      </div>
    </div><!--/.col-md-6-->
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Attacker force</h2>
        <div class="form-group">
          Attacker targeting ratio on Defender ICBMs<br>
          <strong><%= @simulation.redRatio %></strong>
        </div>
        <div class="form-group">
          Attacker target Defender LCCs<br>
          <strong>
            <% if @simulation.redTarget %>yes<% end %>
            <% if !@simulation.redTarget %>no<% end %>
          </strong>
        </div>
        <div class="form-group">
          Attacker pk against Defender ICBMs<br>
          <strong><%= @simulation.redPk %></strong>
        </div>
        <div class="form-group">
          Attacker weapons targeted on bases and crit assets<br>
          <strong><%= @simulation.redBases %></strong>
        </div>
      </div>
      <div class="option-buttons">
        <p><%= link_to 'Edit force structure', edit_simulation_path(@simulation), :class => "btn btn-primary" %></p>
        <p><%= link_to 'Recommend this force structure', simulation_add_comments_path(@simulation), :class => "btn btn-primary" %></p>
      </div>
      <!--<div class="form-fields-module results-module">
        <h2>Results of your choices</h2>-->
        <!--<div class="form-group">
          ICBMs available prior to attacker first strike<br>
          <strong><%#= @simulation.icbmAvail %></strong>
        </div>
        <hr> hide per hunter-->
        <!--<div class="form-group">
          Numerical Defender advantage<br>
          <strong><%#= @simulation.deltaSurviving %></strong>
        </div>
        <div class="form-group">
          Ratio Defender:Attacker advantage<br>
          <strong>1:<%#= @simulation.ratioSurviving %></strong>
        </div>-->

        <!--Defender ICBMs successful against attacker-->
        
    
        <!--<div class="form-group">
          Plus ICBMs<br>
          <strong><%#= @simulation.subsPlusIcbms %></strong>
        </div>hide per hunter
        <div class="form-group">
          Additional weapons available on generated bombers (blank if bombers were not generated)<br>
          <strong><%#= @simulation.subsPlusBombs %></strong>
        </div>-->
    
      </div>
    </div><!--/.col-lg-6-->
  </div>
</div>