<p id="notice"><%= notice %></p>
<h2>Pre-Exchange Inventories</h2>
  <div class="form-group col-md-6">
    Blue force
    <div class="col-sm-9">
      <%= @simulation.blueInventory %>
    </div>
  </div>
  <div class="form-group col-md-6">
    Red force
    <div class="col-sm-9">
      <%= @simulation.redInventory %>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Blue Force ICBMs</h2>
    <div class="form-group">
      Maximum Number of ICBMs<br>
      <%= @simulation.icbmMax %>
    </div>
    <div class="form-group">
      MIRV ratio on ICBMs<br>
      <%= @simulation.icbmMirv %>
    </div>
    <div class="form-group">
      Probability of ICBM launch prior to red first strike<br>
      <%= @simulation.icbmProb %>
    </div>
    <div class="form-group">
      ICBMs available prior to red first strike<br>
      <%= @simulation.icbmAvail %>
    </div>
    <div class="form-group">
      Blue launch under attack<br>
      <%= @simulation.icbmBlueLaunch %>
    </div>
    <div class="form-group">
      Blue pk against red targets<br>
      <%= @simulation.icbmBluePk %>
    </div>
    <h2>Blue force subs</h2>
    <div class="form-group">
      Number of operational blue subs<br>
      <%= @simulation.subsOperational %>
    </div>
    <div class="form-group">
      "At sea rate" for blue subs<br>
      <%= @simulation.subsSeaRate %>
    </div>
    <div class="form-group">
      Number of subs at sea<br>
      <strong><%= @simulation.subsAtSea %></strong>
    </div>
    <div class="form-group">
      Round up to nearest whole sub<br>
      <%= @simulation.subsRoundUp %>
    </div>
    <div class="form-group">
      Weapons at sea<br>
      <strong><%= @simulation.subsWeaps %></strong>
    </div>
    <div class="form-group">
      Plus ICBMs<br>
      <strong><%= @simulation.subsPlusIcbms %></strong>
    </div>
    <div class="form-group">
      Plus bombs<br>
      <strong><%= @simulation.subsPlusBombs %></strong>
    </div>
    <div class="form-group">
      Number of tubes per sub<br>
      <%= @simulation.subsTubes %>
    </div>
    <div class="form-group">
      SLBM MIRV ratio<br>
      <strong><%= @simulation.subsMirv %></strong>
    </div>
    <div class="form-group">
      Number of weapons assigned to navy<br>
      <strong><%= @simulation.subsNavy %></strong>
    </div>
  </div><!--/.col-md-6-->
  <div class="col-md-6">
    <h2>Blue Force Bombers</h2>
    <div class="form-group">
      Number of bombers<br>
      <%= @simulation.bombsNumber %>
    </div>
    <div class="form-group">
      Bombers generated and survive
      <%= @simulation.bombsSurvive %>
    </div>
    <div class="form-group">
      Weapons versus bombers post-strike<br>
      <strong><%= @simulation.bombsPostStrike %></strong>
    </div>
    <h2>Red Force</h2>
    <div class="form-group">
      Red targeting ratio on blue ICBMs<br>
      <%= @simulation.redRatio %>
    </div>
    <div class="form-group">
      Red target blue LCCs<br>
      <%= @simulation.redTarget %>
    </div>
    <div class="form-group">
      Red pk against blue ICBMs<br>
      <%= @simulation.redPk %>
    </div>
    <div class="form-group">
      Red weapons targeted on bases and crit assets<br>
      <%= @simulation.redBases %>
    </div>
    <div class="form-group">
      Red weapons targeted on blue ICBMs<br>
      <strong><%= @simulation.redBlueIcbms %></strong>
    </div>
    <div class="form-group">
      Red weapons assigned first strike<br>
      <strong><%= @simulation.redFirstStrike %></strong>
    </div>
    <h2>Surviving weapons</h2>
    <div class="field">
      Red<br>
      <strong><%= @simulation.redSurviving %></strong>
    </div>
    <div class="field">
      Blue<br>
      <strong><%= @simulation.blueSurviving %></strong>
    </div>
    <div class="field">
      Delta<br>
      <strong><%= @simulation.deltaSurviving %></strong>
    </div>
    <div class="field">
      Ratio<br>
      <strong><%= @simulation.ratioSurviving %></strong>
    </div>
  </div><!--/.col-lg-6-->

<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>
