<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1><i class="fa fa-bomb"></i>1st Strike Advantage Calculator (Simulation Results)</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="form-fields-module module-top">
      <h2>Pre-Exchange Inventories</h2>
      <div class="form-group col-md-6">
        Blue force<br>
        <strong><%= @simulation.blueInventory %></strong>
      </div>
      <div class="form-group col-md-6">
        Red force<br>
        <strong><%= @simulation.redInventory %></strong>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Defender force ICBMs</h2>
        <div class="form-group">
          Maximum Number of ICBMs<br>
          <strong><%= @simulation.icbmMax %></strong>
        </div>
        <div class="form-group">
          MIRV ratio on ICBMs<br>
          <strong><%= @simulation.icbmMirv %></strong>
        </div>
        <div class="form-group">
          Probability of ICBM launch prior to attacker first strike<br>
          <strong><%= @simulation.icbmProb %></strong>
        </div>
        <div class="form-group">
          Defender launch under attack<br>
          <strong><%= @simulation.icbmBlueLaunch %></strong>
        </div>
        <div class="form-group">
          Defender pk against attacker<br>
          <strong><%= @simulation.icbmBluePk %></strong>
        </div>
      </div>
      <div class="form-fields-module">
        <h2>Defender force subs</h2>
        <div class="form-group">
          Number of operational defender subs<br>
          <strong><%= @simulation.subsOperational %></strong>
        </div>
        <div class="form-group">
          "At sea rate" for defender subs<br>
          <strong><%= @simulation.subsSeaRate %></strong>
        </div>
        <div class="form-group">
          Number of tubes per sub<br>
          <strong><%= @simulation.subsTubes %></strong>
        </div>
      </div>
      <div class="form-fields-module">
        <h2>Defender Force Bombers</h2>
        <div class="form-group">
          Number of bombers<br>
          <strong><%= @simulation.bombsNumber %></strong>
        </div>
        <div class="form-group">
          Bombers generated and survive<br>
          <strong><%= @simulation.bombsSurvive %></strong>
        </div>
        <div class="form-group">
          Weapons versus bombers post-strike<br>
          <strong><%= @simulation.bombsPostStrike %></strong>
        </div>
      </div>
    </div><!--/.col-md-6-->
    <div class="col-md-6">
      <div class="form-fields-module">
        <h2>Attacker force</h2>
        <div class="form-group">
          Attacker targeting ratio on defender ICBMs<br>
          <strong><%= @simulation.redRatio %></strong>
        </div>
        <div class="form-group">
          Attacker target defender LCCs<br>
          <strong><%= @simulation.redTarget %></strong>
        </div>
        <div class="form-group">
          Attacker pk against defender ICBMs<br>
          <strong><%= @simulation.redPk %></strong>
        </div>
        <div class="form-group">
          Attacker weapons targeted on bases and crit assets<br>
          <strong><%= @simulation.redBases %></strong>
        </div>
      </div>
      <div class="option-buttons">
        <%= link_to 'Edit', edit_simulation_path(@simulation), :class => "btn btn-primary" %> 
        <%= link_to 'Save as final settings', simulation_add_comments_path(@simulation), :class => "btn btn-primary" %>
        <%= link_to 'Proceed to final survey', new_follow_up_survey_path, :class => "btn btn-primary" %>
      </div>
      <div class="form-fields-module results-module">
        <h2>Calculated values</h2>
        <div class="form-group">
          ICBMs available prior to attacker first strike<br>
          <strong><%= @simulation.icbmAvail %></strong>
        </div>
        <hr>
        <div class="form-group">
          Number of subs at sea<br>
          <strong><%= @simulation.subsAtSea %></strong>
        </div>
        <div class="form-group">
          Weapons at sea<br>
          <strong><%= @simulation.subsWeaps %></strong>
        </div>
        <div class="form-group">
          Plus ICBMs<br>
          <strong><%= @simulation.subsPlusIcbms %></strong>
        </div>
        <div class="form-group">
          Plus bombs<br>
          <strong><%= @simulation.subsPlusBombs %></strong>
        </div>
        <div class="form-group">
          SLBM MIRV ratio<br>
          <strong><%= @simulation.subsMirv %></strong>
        </div>
        <div class="form-group">
          Number of weapons assigned to navy<br>
          <strong><%= @simulation.subsNavy %></strong>
        </div>
        <hr>
        <div class="form-group">
          Attacker weapons targeted on defender ICBMs<br>
          <strong><%= @simulation.redBlueIcbms %></strong>
        </div>
        <div class="form-group">
          Attacker weapons assigned first strike<br>
          <strong><%= @simulation.redFirstStrike %></strong>
        </div>
        <hr>
        <div class="form-group">
          Attacker<br>
          <strong><%= @simulation.redSurviving %></strong>
        </div>
        <div class="form-group">
          Defender<br>
          <strong><%= @simulation.blueSurviving %></strong>
        </div>
        <div class="form-group">
          Delta<br>
          <strong><%= @simulation.deltaSurviving %></strong>
        </div>
        <div class="form-group">
          Ratio<br>
          <strong><%= @simulation.ratioSurviving %></strong>
        </div>
      </div>
    </div><!--/.col-lg-6-->
  </div>
</div>