<p id="notice"><%= notice %></p>

<p>
  <strong>Blueinventory:</strong>
  <%= @simulation.blueInventory %>
</p>

<p>
  <strong>Redinventory:</strong>
  <%= @simulation.redInventory %>
</p>

<p>
  <strong>Icbmmax:</strong>
  <%= @simulation.icbmMax %>
</p>

<p>
  <strong>Icbmmirv:</strong>
  <%= @simulation.icbmMirv %>
</p>

<p>
  <strong>Icbmprob:</strong>
  <%= @simulation.icbmProb %>
</p>

<p>
  <strong>Icbmavail:</strong>
  <%= @simulation.icbmAvail %>
</p>

<p>
  <strong>Icbmbluelaunch:</strong>
  <%= @simulation.icbmBlueLaunch %>
</p>

<p>
  <strong>Icbmbluepk:</strong>
  <%= @simulation.icbmBluePk %>
</p>

<p>
  <strong>Subsoperational:</strong>
  <%= @simulation.subsOperational %>
</p>

<p>
  <strong>Subsatsea:</strong>
  <%= @simulation.subsAtSea %>
</p>

<p>
  <strong>Subsroundup:</strong>
  <%= @simulation.subsRoundUp %>
</p>

<p>
  <strong>Subsweaps:</strong>
  <%= @simulation.subsWeaps %>
</p>

<p>
  <strong>Subsplusicbms:</strong>
  <%= @simulation.subsPlusIcbms %>
</p>

<p>
  <strong>Subsplusbombs:</strong>
  <%= @simulation.subsPlusBombs %>
</p>

<p>
  <strong>Substubes:</strong>
  <%= @simulation.subsTubes %>
</p>

<p>
  <strong>Subsmirv:</strong>
  <%= @simulation.subsMirv %>
</p>

<p>
  <strong>Subsnavy:</strong>
  <%= @simulation.subsNavy %>
</p>

<p>
  <strong>Bombsnumber:</strong>
  <%= @simulation.bombsNumber %>
</p>

<p>
  <strong>Bombssurvive:</strong>
  <%= @simulation.bombsSurvive %>
</p>

<p>
  <strong>Bombspoststrike:</strong>
  <%= @simulation.bombsPostStrike %>
</p>

<p>
  <strong>Redratio:</strong>
  <%= @simulation.redRatio %>
</p>

<p>
  <strong>Redtarget:</strong>
  <%= @simulation.redTarget %>
</p>

<p>
  <strong>Redpk:</strong>
  <%= @simulation.redPk %>
</p>

<p>
  <strong>Redbases:</strong>
  <%= @simulation.redBases %>
</p>

<p>
  <strong>Redblueicbms:</strong>
  <%= @simulation.redBlueIcbms %>
</p>

<p>
  <strong>Redfirststrike:</strong>
  <%= @simulation.redFirstStrike %>
</p>

<p>
  <strong>Redsurviving:</strong>
  <%= @simulation.redSurviving %>
</p>

<p>
  <strong>Bluesurviving:</strong>
  <%= @simulation.blueSurviving %>
</p>

<p>
  <strong>Deltasurviving:</strong>
  <%= @simulation.deltaSurviving %>
</p>

<p>
  <strong>Ratiosurviving:</strong>
  <%= @simulation.ratioSurviving %>
</p>

<%= link_to 'Edit', edit_simulation_path(@simulation) %> |
<%= link_to 'Back', simulations_path %>
