<%= form_for(@follow_up_survey) do |f| %>
  <% if @follow_up_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up_survey.errors.count, "error") %> prohibited this follow_up_survey from being saved:</h2>

      <ul>
      <% @follow_up_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-sm-12">
    <%= f.label :comments, "Please enter final comments.", :class => "user-label" %>
    <%= f.text_area :comments, :class => "form-control", :required => "true" %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "1. There is a number of nuclear weapons sufficient to deter adversaries, regardless of the number of nuclear weapons they possess. Beyond that number, additional weapons provide little or no marginal benefit.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorRussia, "2. To maintain strategic stability, the U.S. nuclear arsenal does not have to be superior in number to Russia’s nuclear arsenal.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "Neither agree nor disagree" %> 
        Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalRussia, "3. To maintain strategic stability, the U.S. nuclear arsenal does not have to be equal in number to Russia’s nuclear arsenal.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :adversaryRelevancy, "4. The number of nuclear weapons possessed by a potential adversary is irrelevant to determining the appropriate size of the U.S. nuclear arsenal.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "5. The submarine-launched ballistic missile fleet (SSBN) is the most survivable of U.S. nuclear forces.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "6. Survivability is the most important attribute for a nuclear weapons system." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValue, "7. The submarine-launched ballistic missile fleet (SSBN) is the most valuable component of U.S. nuclear forces.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValue, "8. The value of the land-based intercontinental ballistic missile (ICBM) force diminishes as arsenal size decreases.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "Strongly disagree" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "Disagree" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "Neither agree nor disagree" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "Agree" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "Strongly agree" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <p>12. In the five nuclear arsenals below, U.S. nuclear arsenal strategy should...</p>
    <table class="table">
      <tr>
        <th></th>
        <th>
          <%= f.label :groupOneSuggestions, "2200" %>
        </th>
        <th>
          <%= f.label :groupTwoSuggestions, "1550" %>
        </th>
        <th>
          <%= f.label :groupThreeSuggestions, "1000" %>
        </th>
        <th>
          <%= f.label :groupFourSuggestions, "500" %>
        </th>
        <th>
          <%= f.label :groupFiveSuggestions, "300" %>
        </th>
      </tr>
      <tr>
        <td>Prioritize SSBN over ICBM</td>
        <td><%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
        <td><%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
        <td><%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
        <td><%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
        <td><%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
      </tr>
        <tr>
          <td>Prioritize ICBM over SSBN</td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
          </td>
        </tr>
        <tr>
          <td>Consist of a triad (three delivery systems)</td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
          </td>
        </tr>
        <tr>
          <td>
            Consist of a dyad (two delivery systems)
          </td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
          </td>
        </tr>
        <tr>
          <td>
            Consist of a monad (one delivery system)
          </td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
          </td>
        </tr>
        <tr>
          <td>
            Retain SSBN
          </td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
          </td>
        </tr>
        <tr>
          <td>
            Retain ICBM
          </td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
          </td>
      </tr>
      <tr>
          <td>
            Retain bombers
          </td>
          <td>
            <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
          </td>
          <td>
            <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
          </td>
          <td>
            <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
          </td>
          <td>
            <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
          </td>
          <td>
            <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
          </td>
      </tr>
    </table>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
