<%= form_for(@follow_up_survey) do |f| %>
  <% if @follow_up_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up_survey.errors.count, "error") %> prohibited this follow_up_survey from being saved:</h2>

      <ul>
      <% @follow_up_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "1. There is a number of nuclear weapons sufficient to deter adversaries, regardless of the number of nuclear weapons they possess. Beyond that number, additional weapons provide little or no marginal benefit.", :class => "control-label" %><br>
    <%= f.text_field :weaponsBenefit %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorRussia, "2. To maintain strategic stability, the U.S. nuclear arsenal does not have to be superior in number to Russia’s nuclear arsenal.", :class => "control-label" %><br>
    <%= f.text_field :superiorRussia %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalRussia, "3. To maintain strategic stability, the U.S. nuclear arsenal does not have to be equal in number to Russia’s nuclear arsenal.", :class => "control-label" %><br>
    <%= f.text_field :equalRussia %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :adversaryRelevancy, "4. The number of nuclear weapons possessed by a potential adversary is irrelevant to determining the appropriate size of the U.S. nuclear arsenal.", :class => "control-label" %><br>
    <%= f.text_field :adversaryRelevancy %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "5. The submarine-launched ballistic missile fleet (SSBN) is the most survivable of U.S. nuclear forces.", :class => "control-label" %><br>
    <%= f.text_field :ssbnSurvivability %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "6. Survivability is the most important attribute for a nuclear weapons system." %><br>
    <%= f.text_field :survivabilityImportance %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValue, "7. The submarine-launched ballistic missile fleet (SSBN) is the most valuable component of U.S. nuclear forces.", :class => "control-label" %><br>
    <%= f.text_field :ssbnValue %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValue, "8. The value of the land-based intercontinental ballistic missile (ICBM) force diminishes as arsenal size decreases.", :class => "control-label" %><br>
    <%= f.text_field :icbmValue %>
  </div>
  <div class="form-group col-sm-12">
    <p>In the five nuclear arsenals below (depicted as Blue-to-Red), U.S. nuclear forces should...</p>
    <%= f.label :groupOneSuggestions, "1550-1550", :class => "control-label" %><br>
    <%= f.text_field :groupOneSuggestions %>

    <%= f.label :groupTwoSuggestions, "1000-1550", :class => "control-label" %><br>
    <%= f.text_field :groupTwoSuggestions %>
 
    <%= f.label :groupThreeSuggestions, "1000-1000", :class => "control-label" %><br>
    <%= f.text_field :groupThreeSuggestions %>

    <%= f.label :groupFourSuggestions, "500-500", :class => "control-label" %><br>
    <%= f.text_field :groupFourSuggestions %>

    <%= f.label :groupFiveSuggestions, "350-350", :class => "control-label" %><br>
    <%= f.text_field :groupFiveSuggestions %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
