<%= form_for(@follow_up_survey) do |f| %>
  <% if @follow_up_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up_survey.errors.count, "error") %> prohibited this follow_up_survey from being saved:</h2>

      <ul>
      <% @follow_up_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "1. There is a number of nuclear weapons sufficient to deter adversaries, regardless of the number of nuclear weapons they possess. Beyond that number, additional weapons provide little or no marginal benefit.", :class => "control-label" %><br>
    <%= f.radio_button :weaponsBenefit, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :weaponsBenefit, "Disagree" %> Disagree
    <%= f.radio_button :weaponsBenefit, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :weaponsBenefit, "Agree" %> Agree
    <%= f.radio_button :weaponsBenefit, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorRussia, "2. To maintain strategic stability, the U.S. nuclear arsenal does not have to be superior in number to Russia’s nuclear arsenal.", :class => "control-label" %><br>
    <%= f.radio_button :superiorRussia, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :superiorRussia, "Disagree" %> Disagree
    <%= f.radio_button :superiorRussia, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :superiorRussia, "Agree" %> Agree
    <%= f.radio_button :superiorRussia, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalRussia, "3. To maintain strategic stability, the U.S. nuclear arsenal does not have to be equal in number to Russia’s nuclear arsenal.", :class => "control-label" %><br>
    <%= f.radio_button :equalRussia, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :equalRussia, "Disagree" %> Disagree
    <%= f.radio_button :equalRussia, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :equalRussia, "Agree" %> Agree
    <%= f.radio_button :equalRussia, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :adversaryRelevancy, "4. The number of nuclear weapons possessed by a potential adversary is irrelevant to determining the appropriate size of the U.S. nuclear arsenal.", :class => "control-label" %><br>
    <%= f.radio_button :adversaryRelevancy, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :adversaryRelevancy, "Disagree" %> Disagree
    <%= f.radio_button :adversaryRelevancy, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :adversaryRelevancy, "Agree" %> Agree
    <%= f.radio_button :adversaryRelevancy, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "5. The submarine-launched ballistic missile fleet (SSBN) is the most survivable of U.S. nuclear forces.", :class => "control-label" %><br>
    <%= f.radio_button :ssbnSurvivability, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :ssbnSurvivability, "Disagree" %> Disagree
    <%= f.radio_button :ssbnSurvivability, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :ssbnSurvivability, "Agree" %> Agree
    <%= f.radio_button :ssbnSurvivability, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "6. Survivability is the most important attribute for a nuclear weapons system." %><br>
    <%= f.radio_button :survivabilityImportance, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :survivabilityImportance, "Disagree" %> Disagree
    <%= f.radio_button :survivabilityImportance, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :survivabilityImportance, "Agree" %> Agree
    <%= f.radio_button :survivabilityImportance, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValue, "7. The submarine-launched ballistic missile fleet (SSBN) is the most valuable component of U.S. nuclear forces.", :class => "control-label" %><br>
    <%= f.radio_button :ssbnValue, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :ssbnValue, "Disagree" %> Disagree
    <%= f.radio_button :ssbnValue, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :ssbnValue, "Agree" %> Agree
    <%= f.radio_button :ssbnValue, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValue, "8. The value of the land-based intercontinental ballistic missile (ICBM) force diminishes as arsenal size decreases.", :class => "control-label" %><br>
    <%= f.radio_button :icbmValue, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :icbmValue, "Disagree" %> Disagree
    <%= f.radio_button :icbmValue, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :icbmValue, "Agree" %> Agree
    <%= f.radio_button :icbmValue, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <p>12. In the five nuclear arsenals below (depicted as Blue-to-Red), U.S. nuclear forces should...</p>
    <%= f.label :groupOneSuggestions, "1550-1550" %><br>
    <%= f.radio_button :groupOneSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupOneSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupOneSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupOneSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupOneSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupOneSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupTwoSuggestions, "1000-1550" %><br>
    <%= f.radio_button :groupTwoSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupTwoSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupTwoSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupTwoSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupTwoSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupTwoSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupThreeSuggestions, "1000-1000" %><br>
    <%= f.radio_button :groupThreeSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupThreeSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupThreeSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupThreeSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupThreeSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupThreeSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupFourSuggestions, "500-500" %><br>
    <%= f.radio_button :groupFourSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupFourSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupFourSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupFourSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupFourSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupFourSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupFiveSuggestions, "300-300" %><br>
    <%= f.radio_button :groupFiveSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupFiveSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupFiveSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupFiveSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupFiveSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupFiveSuggestions, "Retain ICBM" %> Retain ICBM
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
