<%= form_for(@follow_up_survey) do |f| %>
  <% if @follow_up_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follow_up_survey.errors.count, "error") %> prohibited this follow_up_survey from being saved:</h2>

      <ul>
      <% @follow_up_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "1. There is a number of nuclear weapons <strong><em>sufficient</strong></em> to deter adversaries, <strong><em>regardless of the number of nuclear weapons they possess</strong></em>. Beyond that number, additional weapons provide little or no additional benefit.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorRussia, "2. To maintain strategic stability, the U.S. nuclear arsenal <strong><em>does not have to be superior</strong></em> in number to Russia’s nuclear arsenal.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "3" %> 
        Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorRussia, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalRussia, "3. To maintain strategic stability, the U.S. nuclear arsenal <strong><em>does not have to be at least equal</strong></em> in number to Russia’s nuclear arsenal.".html_safe %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalRussia, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :adversaryRelevancy, "4. The number of nuclear weapons possessed by a potential adversary <strong><em>is irrelevant</em></strong> to determining the appropriate size of the U.S. nuclear arsenal.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :adversaryRelevancy, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "5. The submarine-launched ballistic missile fleet (SSBN) is the <strong><em>most survivable</em></strong> of U.S. nuclear forces.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "6. Survivability is the <strong><em>most important attribute</em></strong> for a nuclear weapons system.".html_safe %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValue, "7. The submarine-launched ballistic missile fleet (SSBN) is the <strong><em>most valuable</em></strong> component of U.S. nuclear forces.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValue, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValue, "8. The value of the land-based intercontinental ballistic missile (ICBM) force <strong><em>diminishes as arsenal size decreases</em></strong>.".html_safe, :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValue, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <p>9. In the five nuclear arsenals below, U.S. nuclear arsenal strategy should...</p>
    <%= render "/shared/survey_final", :f => f %>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :comments, "Please enter final comments.", :class => "user-label" %>
    <%= f.text_area :comments, :class => "form-control", :required => "true" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
