<p id="notice"><%= notice %></p>

<p>
  <strong>Weaponsbenefit:</strong>
  <%= @follow_up_survey.weaponsBenefit %>
</p>

<p>
  <strong>Superiorrussia:</strong>
  <%= @follow_up_survey.superiorRussia %>
</p>

<p>
  <strong>Equalrussia:</strong>
  <%= @follow_up_survey.equalRussia %>
</p>

<p>
  <strong>Adversaryrelevancy:</strong>
  <%= @follow_up_survey.adversaryRelevancy %>
</p>

<p>
  <strong>Ssbnsurvivability:</strong>
  <%= @follow_up_survey.ssbnSurvivability %>
</p>

<p>
  <strong>Survivabilityimportance:</strong>
  <%= @follow_up_survey.survivabilityImportance %>
</p>

<p>
  <strong>Ssbnvalue:</strong>
  <%= @follow_up_survey.ssbnValue %>
</p>

<p>
  <strong>Icbmvalue:</strong>
  <%= @follow_up_survey.icbmValue %>
</p>

<p>
  <strong>Grouponesuggestions:</strong>
  <%= @follow_up_survey.groupOneSuggestions %>
</p>

<p>
  <strong>Grouptwosuggestions:</strong>
  <%= @follow_up_survey.groupTwoSuggestions %>
</p>

<p>
  <strong>Groupthreesuggestions:</strong>
  <%= @follow_up_survey.groupThreeSuggestions %>
</p>

<p>
  <strong>Groupfoursuggestions:</strong>
  <%= @follow_up_survey.groupFourSuggestions %>
</p>

<p>
  <strong>Groupfivesuggestions:</strong>
  <%= @follow_up_survey.groupFiveSuggestions %>
</p>

<%= link_to 'Edit', edit_follow_up_survey_path(@follow_up_survey) %> |
<%= link_to 'Back', follow_up_surveys_path %>
