<%= form_for(@initial_survey) do |f| %>
  <% if @initial_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initial_survey.errors.count, "error") %> prohibited this initial_survey from being saved:</h2>

      <ul>
      <% @initial_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :timeSpent, "1. How often do you spend time on issues related to nuclear weapons?", :class => "control-label" %><br>
      <%= f.radio_button :timeSpent, "Never" %> Never
      <%= f.radio_button :timeSpent, "Monthly" %> Monthly
      <%= f.radio_button :timeSpent, "Weekly" %> Weekly
      <%= f.radio_button :timeSpent, "Daily" %> Daily
    </div>
  <div class="form-group col-sm-12">
    <%= f.label :currentPosition, "2. Which of the following best dcsribes your current position or employment?", :class => "control-label" %><br>
    <%= f.radio_button :currentPosition, "Federal Government" %> Federal Government
    <%= f.radio_button :currentPosition, "Contractor" %> Contractor
    <%= f.radio_button :currentPosition, "Think Tank" %> Think Tank
    <%= f.radio_button :currentPosition, "Student" %> Student
    <%= f.radio_button :currentPosition, "University" %> University
    <%= f.radio_button :currentPosition, "Non-Governmental or International Organization" %> Non-Governmental or Internal Organization
    <%= f.radio_button :currentPosition, "Other" %> Other
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :positionAffiliation, "3. Which of the following best describes the national or international affiliation of your position or employment?", :class => "control-label" %><br>
    <%= f.radio_button :positionAffiliation, "NATO - other than the United States" %> NATO - other than the United States
    <%= f.radio_button :positionAffiliation, "ASEAN - other than the United STates" %> ASEAN - other than the United States
    <%= f.radio_button :positionAffiliation, "OAS - other than the United States" %> OAS - other than the United States
    <%= f.radio_button :positionAffiliation, "Other" %> Other
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "4. There is a number of nuclear weapons sufficient to deter adversaries, regardless of the number of nuclear weapons they possess. Beyond that number, additional weapons provide little or no marginal benefit.", :class => "control-label" %><br>
    <%= f.radio_button :weaponsBenefit, "Strongly disagree" %> Strongly Disagree
    <%= f.radio_button :weaponsBenefit, "Disagree" %> Disagree
    <%= f.radio_button :weaponsBenefit, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :weaponsBenefit, "Agree" %> Agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorToRussia, "5. To maintain strategic stability, the U.S. nuclear arsenal does not have to be superior in number to Russia’s nuclear arsenal." %><br>
    <%= f.radio_button :superiorToRussia, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :superiorToRussia, "Disagree" %> Disagree
    <%= f.radio_button :superiorToRussia, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :superiorToRussia, "Agree" %> Agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalToRussia, "6. To maintain strategic stability, the U.S. nuclear arsenal does not have to be equal in number to Russia’s nuclear arsenal." %><br>
    <%= f.radio_button :equalToRussia, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :equalToRussia, "Disagree" %> Disagree
    <%= f.radio_button :equalToRussia, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :equalToRussia, "Agree" %> Agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :numberOfWeapons, "7. The number of nuclear weapons possessed by a potential adversary is irrelevant to determining the appropriate size of the U.S. nuclear arsenal." %><br>
    <%= f.radio_button :numberOfWeapons, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :numberOfWeapons, "Disagree" %> Disagree
    <%= f.radio_button :numberOfWeapons, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :numberOfWeapons, "Agree" %> Agree
    <%= f.radio_button :numberOfWeapons, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "8. The submarine-launched ballistic missile fleet (SSBN) is the most survivable of U.S. nuclear forces.", :class => "control-label" %><br>
    <%= f.radio_button :ssbnSurvivability, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :ssbnSurvivability, "Disagree" %> Disagree
    <%= f.radio_button :ssbnSurvivability, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :ssbnSurvivability, "Agree" %> Agree
    <%= f.radio_button :ssbnSurvivability, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "9. Survivability is the most important attribute for a nuclear weapons system." %><br>
    <%= f.radio_button :survivabilityImportance, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :survivabilityImportance, "Strongly disagree" %> Disagree
    <%= f.radio_button :survivabilityImportance, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :survivabilityImportance, "Agree" %> Agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValuable, "10. The submarine-launched ballistic missile fleet (SSBN) is the most valuable component of U.S. nuclear forces." %><br>
    <%= f.radio_button :ssbnValuable, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :ssbnValuable, "Disagree" %> Disagree
    <%= f.radio_button :ssbnValuable, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :ssbnValuable, "Agree" %> Agree
    <%= f.radio_button :ssbnValuable, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValuable, "11. The value of the land-based intercontinental ballistic missile (ICBM) force diminishes as arsenal size decreases." %><br>
    <%= f.radio_button :icbmValuable, "Strongly disagree" %> Strongly disagree
    <%= f.radio_button :icbmValuable, "Disagree" %> Disagree
    <%= f.radio_button :icbmValuable, "Neither agree nor disagree" %> Neither agree nor disagree
    <%= f.radio_button :icbmValuable, "Agree" %> Agree
    <%= f.radio_button :icbmValuable, "Strongly agree" %> Strongly agree
  </div>
  <div class="form-group col-sm-12">
    <p>12. In the five nuclear arsenals below (depicted as Blue-to-Red), U.S. nuclear forces should...</p>
    <%= f.label :groupOneSuggestions, "1550-1550" %><br>
    <%= f.radio_button :groupOneSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupOneSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupOneSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupOneSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupOneSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupOneSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupTwoSuggestions, "1000-1550" %><br>
    <%= f.radio_button :groupTwoSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupTwoSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupTwoSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupTwoSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupTwoSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupTwoSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupThreeSuggestions, "1000-1000" %><br>
    <%= f.radio_button :groupThreeSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupThreeSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupThreeSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupThreeSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupThreeSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupThreeSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupFourSuggestions, "500-500" %><br>
    <%= f.radio_button :groupFourSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupFourSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupFourSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupFourSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupFourSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupFourSuggestions, "Retain ICBM" %> Retain ICBM
    <%= f.label :groupFiveSuggestions, "300-300" %><br>
    <%= f.radio_button :groupFiveSuggestions, "Prioritize ICBM over SSBN" %> Prioritize ICBM over SSBN
    <%= f.radio_button :groupFiveSuggestions, "Consist of a triad (three delivery systems)" %> Consist of a triad (three delivery systems)
    <%= f.radio_button :groupFiveSuggestions, "Consist of a dyad (two delivery systems)" %> Consist of a dyad (two delivery systems)
    <%= f.radio_button :groupFiveSuggestions, "Consist of a monad (one delivery system)" %> Consist of a monad (one delivery system)
    <%= f.radio_button :groupFiveSuggestions, "Retain SSBN" %> Retain SSBN
    <%= f.radio_button :groupFiveSuggestions, "Retain ICBM" %> Retain ICBM
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
</div>
<% end %>
