<%= form_for(@initial_survey) do |f| %>
  <% if @initial_survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@initial_survey.errors.count, "error") %> prohibited this initial_survey from being saved:</h2>

      <ul>
      <% @initial_survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-sm-12">
      <%= f.label :user, "First, enter a username (required).", :class => "control-label user-label" %>
      <%= f.text_field :user, :class => "form-control", :required => true %>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :age, "1. What is your age?", :class => "control-label" %>
      <div class="row">
        <div class="col-sm-12">
          <%= f.radio_button :age, "18 to 24 years" %>
          <%= f.label :age, "18 to 24 years", :value => "18 to 24 years" %>
        </div>
        <div class="col-sm-12">
          <%= f.radio_button :age, "25 to 34 years" %>
          <%= f.label :age, "25 to 34 years", :value => "25 to 34 years" %>
        </div>
        <div class="col-sm-12">
          <%= f.radio_button :age, "35 to 44 years" %>
          <%= f.label :age, "35 to 44 years", :value => "35 to 44 years" %>
        </div>
        <div class="col-sm-12">
          <%= f.radio_button :age, "45 to 54 years" %>
          <%= f.label :age, "45 to 54 years", :value => "45 to 54 years" %>
        </div>
        <div class="col-sm-12">
          <%= f.radio_button :age, "55 to 64 years" %>
          <%= f.label :age, "55 to 64 years", :value => "55 to 64 years" %>
        </div>
        <div class="col-sm-12">
          <%= f.radio_button :age, "65 or older" %>
          <%= f.label :age, "65 or older", :value => "65 or older" %>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :timeSpent, "2. How often do you spend time on issues related to nuclear weapons?", :class => "control-label" %>
      <div class="row">
        <div class="col-sm-12 col-md-2">
          <%= f.radio_button :timeSpent, "Never" %>
          <%= f.label :timeSpent, "Never", :value => "never" %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= f.radio_button :timeSpent, "Monthly" %>
          <%= f.label :timeSpent, "Monthly", :value => "monthly" %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= f.radio_button :timeSpent, "Weekly" %>
          <%= f.label :timeSpent, "Weekly", :value => "weekly" %>
        </div>
        <div class="col-sm-12 col-md-2">
          <%= f.radio_button :timeSpent, "Daily" %>
          <%= f.label :timeSpent, "Daily", :value => "daily" %>
        </div>
      </div>
    </div>
  <div class="form-group col-sm-12">
    <%= f.label :currentPosition, "3. Which of the following best describes your current position or employment?", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Federal Government" %> Federal Government
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Contractor" %> Contractor
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Think Tank" %> Think Tank
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Student" %> Student
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "University" %> University
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Non-Governmental or International Organization" %> Non-Governmental or Internal Organization
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :currentPosition, "Other" %> Other
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :positionAffiliation, "4. Which of the following best describes the national or international affiliation of your position or employment?", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :positionAffiliation, "United States" %> United States
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :positionAffiliation, "NATO - other than the United States" %> NATO - other than the United States
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :positionAffiliation, "ASEAN - other than the United STates" %> ASEAN - other than the United States
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :positionAffiliation, "OAS - other than the United States" %> OAS - other than the United States
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :positionAffiliation, "Other" %> Other
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :weaponsBenefit, "5. There is a number of nuclear weapons sufficient to deter adversaries, regardless of the number of nuclear weapons they possess. Beyond that number, additional weapons provide little or no marginal benefit.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "1" %> Strongly Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :weaponsBenefit, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :superiorToRussia, "6. To maintain strategic stability, the U.S. nuclear arsenal does not have to be superior in number to Russia’s nuclear arsenal." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :superiorToRussia, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorToRussia, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorToRussia, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorToRussia, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :superiorToRussia, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :equalToRussia, "7. To maintain strategic stability, the U.S. nuclear arsenal does not have to be equal in number to Russia’s nuclear arsenal." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :equalToRussia, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalToRussia, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalToRussia, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalToRussia, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :equalToRussia, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :numberOfWeapons, "8. The number of nuclear weapons possessed by a potential adversary is irrelevant to determining the appropriate size of the U.S. nuclear arsenal." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :numberOfWeapons, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :numberOfWeapons, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :numberOfWeapons, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :numberOfWeapons, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :numberOfWeapons, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnSurvivability, "9. The submarine-launched ballistic missile fleet (SSBN) is the most survivable of U.S. nuclear forces.", :class => "control-label" %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnSurvivability, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :survivabilityImportance, "10. Survivability is the most important attribute for a nuclear weapons system." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :survivabilityImportance, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :ssbnValuable, "11. The submarine-launched ballistic missile fleet (SSBN) is the most valuable component of U.S. nuclear forces." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValuable, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValuable, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValuable, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValuable, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :ssbnValuable, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <%= f.label :icbmValuable, "12. The value of the land-based intercontinental ballistic missile (ICBM) force diminishes as arsenal size decreases." %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.radio_button :icbmValuable, "1" %> Strongly disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValuable, "2" %> Disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValuable, "3" %> Neither agree nor disagree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValuable, "4" %> Agree
      </div>
      <div class="col-sm-12">
        <%= f.radio_button :icbmValuable, "5" %> Strongly agree
      </div>
    </div>
  </div>
  <div class="form-group col-sm-12">
    <p>13. In the five nuclear arsenals below, U.S. nuclear arsenal strategy should...</p>
    <%= render "/shared/survey_final", :f => f %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-primary" %>
  </div>
</div>
<% end %>
