<p id="notice"><%= sanitize(notice) %></p>

<p>
  <strong>Timespent:</strong>
  <%= @initial_survey.timeSpent %>
</p>

<p>
  <strong>Currentposition:</strong>
  <%= @initial_survey.currentPosition %>
</p>

<p>
  <strong>Positionaffiliation:</strong>
  <%= @initial_survey.positionAffiliation %>
</p>

<p>
  <strong>Weaponsbenefit:</strong>
  <%= @initial_survey.weaponsBenefit %>
</p>

<p>
  <strong>Superiortorussia:</strong>
  <%= @initial_survey.superiorToRussia %>
</p>

<p>
  <strong>Equaltorussia:</strong>
  <%= @initial_survey.equalToRussia %>
</p>

<p>
  <strong>Numberofweapons:</strong>
  <%= @initial_survey.numberOfWeapons %>
</p>

<p>
  <strong>Ssbnsurvivability:</strong>
  <%= @initial_survey.ssbnSurvivability %>
</p>

<p>
  <strong>Survivabilityimportance:</strong>
  <%= @initial_survey.survivabilityImportance %>
</p>

<p>
  <strong>Ssbnvaluable:</strong>
  <%= @initial_survey.ssbnValuable %>
</p>

<p>
  <strong>Icbmvaluable:</strong>
  <%= @initial_survey.icbmValuable %>
</p>

<p>
  <strong>Grouponesuggestions:</strong>
  <%= @initial_survey.groupOneSuggestions %>
</p>

<p>
  <strong>Grouptwosuggestions:</strong>
  <%= @initial_survey.groupTwoSuggestions %>
</p>

<p>
  <strong>Groupthreesuggestions:</strong>
  <%= @initial_survey.groupThreeSuggestions %>
</p>

<p>
  <strong>Groupfoursuggestions:</strong>
  <%= @initial_survey.groupFourSuggestions %>
</p>

<p>
  <strong>Groupfivesuggestions:</strong>
  <%= @initial_survey.groupFiveSuggestions %>
</p>

<%= link_to 'Edit', edit_initial_survey_path(@initial_survey) %> |
<%= link_to 'Back', initial_surveys_path %>
