<h3>What priority</h3>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><em>Total warheads in Arsenals (2 peers)</em></th>
      <th><%= f.label :groupOneSuggestions, "2200" %></th>
      <th><%= f.label :groupTwoSuggestions, "1550" %></th>
      <th><%= f.label :groupThreeSuggestions, "1000" %></th>
      <th><%= f.label :groupFourSuggestions, "500" %></th>
      <th><%= f.label :groupFiveSuggestions, "300" %></th>
    </tr>
    <tr>
      <td>Prioritize SSBN over ICBM</td>
      <td><%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
      <td><%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
      <td><%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
      <td><%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
      <td><%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Prioritize SSBN over ICBM", nil %></td>
    </tr>
    <tr>
      <td>Prioritize ICBM over SSBN</td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Prioritize ICBM over SSBN", nil %> 
      </td>
    </tr>
  </table>
</div>
<h3>How many legs</h3>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><em>Total warheads in Arsenals (2 peers)</em></th>
      <th><%= f.label :groupOneSuggestions, "2200" %></th>
      <th><%= f.label :groupTwoSuggestions, "1550" %></th>
      <th><%= f.label :groupThreeSuggestions, "1000" %></th>
      <th><%= f.label :groupFourSuggestions, "500" %></th>
      <th><%= f.label :groupFiveSuggestions, "300" %></th>
    </tr>
    <tr>
      <td>Consist of a triad (three delivery systems)</td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a triad (three delivery systems)", nil %>
      </td>
    </tr>
    <tr>
      <td>
        Consist of a dyad (two delivery systems)
      </td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a dyad (two delivery systems)", nil %> 
      </td>
    </tr>
    <tr>
      <td>
        Consist of a monad (one delivery system)
      </td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Consist of a monad (one delivery system)", nil %>
      </td>
    </tr>
  </table>
</div>
<h3>Which delivery systems</h2>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th><em>Total warheads in Arsenals (2 peers)</em></th>
      <th><%= f.label :groupOneSuggestions, "2200" %></th>
      <th><%= f.label :groupTwoSuggestions, "1550" %></th>
      <th><%= f.label :groupThreeSuggestions, "1000" %></th>
      <th><%= f.label :groupFourSuggestions, "500" %></th>
      <th><%= f.label :groupFiveSuggestions, "300" %></th>
    </tr>
    <tr>
      <td>
        Retain SSBN
      </td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain SSBN", nil %>
      </td>
    </tr>
    <tr>
      <td>
        Retain ICBM
      </td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain ICBM", nil %>
      </td>
  </tr>
  <tr>
      <td>
        Retain bombers
      </td>
      <td>
        <%= f.check_box :groupOneSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
      </td>
      <td>
        <%= f.check_box :groupTwoSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
      </td>
      <td>
        <%= f.check_box :groupThreeSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
      </td>
      <td>
        <%= f.check_box :groupFourSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
      </td>
      <td>
        <%= f.check_box :groupFiveSuggestions, { :multiple => "true" }, "Retain bombers", nil %>
      </td>
    </tr>
  </table>
</div>