<!DOCTYPE html>
<html>
<head>
  <title>Five Nuclear Arsenals</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= yield %>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          &copy; <%= Date.today.strftime("%Y") %> Hunter Hustus, Northeastern University
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
